
body
{
    background-color: rgb(3, 14, 14);

}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    /* font-size: larger; */
}

label, input {
    margin: 10px;
}

button {
    margin-top: 20px;
    padding: 10px;
}
.details{
    background-image: linear-gradient(to right, rgba(22, 171, 216, 0), rgb(41, 84, 163));
    text-align: center;
    border: 5px rgb(28, 161, 202) solid;
    height: auto;
    width: 400px;
    position: fixed;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    align-items: center;
}